<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Course
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Course Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Course Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Course Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Shop</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>KFC</option>
                                    <option>Lotteria</option>
                                    <option>Pizza Hut</option>

                                </select>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <h1></h1>
        <br>
        <div class="row">

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="text-align: center;">Eat KFC</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Shop: KFC</h5>
                    <p class="card-text"><b>Phone: </b>19009191</p>
                    <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
                    <p class="card-text"><b>Created Date: </b>2020-15-09</p>
                    <hr>

                    <select style="width: 240px;height: 34px;">
                        <option value="1">Opening</option>
                        <option value="2">Delivery</option>
                        <option value="3">End Of Order</option>
                        <option value="4">End Of Payment</option>
                    </select>
                    <hr>
                    <button class="button" routerLink="/course"><b>Details</b></button>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="text-align: center;">Eat KFC</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Shop: KFC</h5>
                    <p class="card-text"><b>Phone: </b>19009191</p>
                    <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
                    <p class="card-text"><b>Created Date: </b>2020-15-09</p>
                    <hr>

                    <select style="width: 240px;height: 34px;">
                        <option value="1">Opening</option>
                        <option value="2">Delivery</option>
                        <option value="3">End Of Order</option>
                        <option value="4">End Of Payment</option>
                    </select>
                    <hr>
                    <button class="button"><b>Details</b></button>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="text-align: center;">Eat KFC</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Shop: KFC</h5>
                    <p class="card-text"><b>Phone: </b>19009191</p>
                    <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
                    <p class="card-text"><b>Created Date: </b>2020-15-09</p>
                    <hr>

                    <select style="width: 240px;height: 34px;">
                        <option value="1">Opening</option>
                        <option value="2">Delivery</option>
                        <option value="3">End Of Order</option>
                        <option value="4">End Of Payment</option>
                    </select>
                    <hr>
                    <button class="button"><b>Details</b></button>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="text-align: center;">Eat KFC</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Shop: KFC</h5>
                    <p class="card-text"><b>Phone: </b>19009191</p>
                    <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
                    <p class="card-text"><b>Created Date: </b>2020-15-09</p>
                    <hr>

                    <select style="width: 240px;height: 34px;">
                        <option value="1">Opening</option>
                        <option value="2">Delivery</option>
                        <option value="3">End Of Order</option>
                        <option value="4">End Of Payment</option>
                    </select>
                    <hr>
                    <button class="button"><b>Details</b></button>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="text-align: center;">Eat KFC</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Shop: KFC</h5>
                    <p class="card-text"><b>Phone: </b>19009191</p>
                    <p class="card-text"><b>Description: </b>Fu*king delicious , an di moi nguoi oi</p>
                    <p class="card-text"><b>Created Date: </b>2020-15-09</p>
                    <hr>

                    <select style="width: 240px;height: 34px;">
                        <option value="1">Opening</option>
                        <option value="2">Delivery</option>
                        <option value="3">End Of Order</option>
                        <option value="4">End Of Payment</option>
                    </select>
                    <hr>
                    <button class="button"><b>Details</b></button>
                </div>
            </div>

        </div>
    </div>
</div>