<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->

<hr>
<div class="row" style="height: 80px;">
    <div class="column">
        <h3 style="display: inline;">Course Name</h3>
    </div>
    <div class="column">
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" style="width: 480px;">
                <option>Opening</option>
                <option>Delivery</option>
                <option>End of Payment</option>
                <option>End of Order</option>
            </select>
        </div>
    </div>
    <div class="column">
        
         <!-- Button trigger modal -->
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float: right;">
            Let's Eat
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Menu Id : 123</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <h5>Combo Zinbo 1</h5>
                                <p>Price : 150.000 vnd</p>
                                <p>Quantity : 2</p>
                            </div>
                            <hr>
                            <div class="form-group">
                                <h5>Combo Zinbo 1</h5>
                                <p>Price : 450.000 vnd</p>
                                <p>Quantity : 4</p>
                            </div>
                            <hr>
                            <div class="form-group">
                                <h5 style="color: orange;float:right;">Total : 150.000 vnd</h5>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div>
    <h4 style="color: orange;">Order By : account1 - Total - 1.000.000 vnd</h4>

</div>
<hr>
<div class="row" style="height: 130px;">
    <div class="column">
        <h5>Order time: 14 Sep 2020, 13:27</h5>
        <p>Status : </p>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" style="width: 280px;">
                <option>Paid</option>
                <option>Paid A Part</option>
                <option>Unpaid</option>  
            </select>
        </div>
    </div>
    <br>

    <div class="column">
        <h5>Order time: 14 Sep 2020, 13:27</h5>
        <p>Memo : </p>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 280px;">
        </div>
    </div>
    <div class="column">
        <h5>Total : 158.000 vnd</h5><br>
        <p></p>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
            View Detail
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Order Id : 123</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <h5>Combo Zinbo 1</h5>
                                <p>Price : 150.000 vnd</p>
                                <p>Quantity : 2</p>
                            </div>
                            <hr>
                            <div class="form-group">
                                <h5 style="color: orange;float:right;">Total : 150.000 vnd</h5>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="row" style="height: 130px;">
    <div class="column">
        <h5>Order time: 14 Sep 2020, 13:27</h5>
        <p>Status : </p>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" style="width: 280px;">
                <option>Paid</option>
                <option>Paid A Part</option>
                <option>Unpaid</option>             
            </select>
        </div>
    </div>
    <br>

    <div class="column">
        <h5>Order time: 14 Sep 2020, 13:27</h5>
        <p>Memo : </p>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 280px;">
        </div>
    </div>
    <div class="column">
        <h5>Total : 158.000 vnd</h5><br>
        <p></p>
        <button type="submit" class="btn btn-primary">View Detail</button>
    </div>
</div>
<hr>
<div class="row" style="height: 130px;">
    <div class="column">
        <h5>Order time: 14 Sep 2020, 13:27</h5>
        <p>Status : </p>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" style="width: 280px;">
                <option>Paid</option>
                <option>Paid A Part</option>
                <option>Unpaid</option>  
            </select>
        </div>
    </div>
    <br>
    <div class="column">
        <h5>Order time: 14 Sep 2020, 13:27</h5>
        <p>Memo : </p>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 280px;">
        </div>
    </div>
    <div class="column">
        <h5>Total : 158.000 vnd</h5><br>
        <p></p>
        <button type="submit" class="btn btn-primary">View Detail</button>
    </div>
</div>
<hr>

</div>
</div>